main{
    


}

.cabecalho{
    margin: 5px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
   


.imagemVideo{
    background-color: blue;
    width: 500px;
    height: 400px;
    
}
.imagem{
    margin: 5px;
    width:500pxpx;
    height: 746px; 
}
#section{
    background-color: blueviolet;
    margin: 5px;
    display: flex;
  

}
.list{
 background-color: aqua;
 flex-direction: column;
    
    

}
.list01{
 background-color: brown;
}
.lista02{
    background-color: chartreuse;
    margin: 5px;
    padding: 5px;
}