main{
    


}

.cabecalho{
    margin: 5px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
   


.imagemVideo{
   
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    
}
.imagem{
    margin: 5px;
    width: 600px;
    height: 600px; 
}
#section{
 
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    gap: 10px 10px;
  

}
.list{

 flex-direction: column;
 display: flex;
 justify-content: flex-end;
 align-items: flex-end;
 column-gap: end;
 gap: 5px;
    
    

}
.list01{

 margin: 5px;

 display: flex;
 flex-direction: column;
 justify-content: flex-end:
 
 
}
.lista02{
 
    margin: 5px;
 
    display: flex;
    justify-content: flex-end;
}
.list02 li{
    display: flex;
    justify-content: flex-end;
}